@page "/parentcomponent"


<h3 class="text-danger">Parent Child Component</h3>

<ChildComponent OnClickBtnMethod="ShowMessage" Title="This title is passed as parameter from Parent Component">
    @*<ChildContent>Render Fragment From Parent! WooHOO!</ChildContent>*@
    <DangerChildContent>Danger Content from Render Fragment! WooHOO!</DangerChildContent>
</ChildComponent>

<AnotherChildComponent Placeholder="Enter the Room Name From Parent" MaxLength="5" >

</AnotherChildComponent>

<p><b>@messageText</b></p>


@code {
    private string messageText = "";

    private void ShowMessage(MouseEventArgs e)
    {
        messageText = "Blazzing text from parent";
    }
}
